.hero {
  min-height: 100vh;
  background-image: url("/img/dreamhouse.webp");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.50);
}



.hero-content {
  position: relative;
  z-index: 2;

  max-width: 1200px;
  width: 100%;

  margin: 0 auto;

  padding: 0 40px;

  color: white;

  transform: translateY(-40px);
}



.hero-tag {
  display: inline-block;

  color: #93c5fd;

  font-size: 14px;
  font-weight: 600;

  text-transform: uppercase;
  letter-spacing: 1px;

  margin-bottom: 20px;
}



.hero h1 {
  font-size: 64px;
  line-height: 1.1;
  font-weight: 700;

  max-width: 600px;
}



.hero h1 span {
  color: #2563eb;
}



.hero p {
  margin-top: 20px;

  max-width: 480px;

  font-size: 18px;

  color: #e5e7eb;

  line-height: 1.6;
}



@media(max-width:768px){


  .hero-content {

    padding: 0 20px;

    transform: translateY(-10px);

  }


  .hero h1 {

    font-size: 40px;

  }


  .hero p {

    font-size: 16px;

  }


}



@media(max-width:480px){


  .hero {

    min-height: 100svh;

    background-position: center;

  }



  .hero-content {

    transform: translateY(-20px);

  }



  .hero h1 {

    font-size: 34px;

  }


}