.hero {
  width: 100%;
  height: 720px;
  background: url("/img/dreamhouse.webp") center center / cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
}

.hero-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  color: #fff;
}


/* ===== TÍTULO ===== */

.hero h1 {
  font-family: var(--font-title);
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.1;
  max-width: 650px;
  margin-bottom: 25px;
}

.hero h1 span {
  color: #3b82f6;
}


/* ===== TEXTO ===== */

.hero p {
  font-family: var(--font-text);
  max-width: 600px;
  font-size: 1.3rem;
  line-height: 1.7;
  margin-bottom: 40px;
}


/* ===== BOTÕES ===== */

.hero-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary,
.btn-secondary {
  font-family: var(--font-text);
  padding: 16px 34px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .08em;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
}

.btn-primary {
  border: none;
  background: #2563eb;
  color: white;
}

.btn-primary:hover {
  background: #1d4ed8;
}

.btn-secondary {
  border: 2px solid white;
  background: transparent;
  color: white;
}

.btn-secondary:hover {
  background: white;
  color: #2563eb;
}



/* ===== TABLET ===== */

@media (max-width: 992px) {

  .hero-content {
    padding: 0 30px;
  }

  .hero h1 {
    font-size: 3.2rem;
  }

  .hero p {
    font-size: 1.1rem;
  }

}



/* ===== CELULAR ===== */

@media (max-width: 768px) {

  .hero {
    height: 650px;
    justify-content: center;
    text-align: center;
  }

  .overlay {
    justify-content: center;
  }

  .hero-content {
    padding: 100px 20px 40px;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn-primary,
  .btn-secondary {
    width: 100%;
    max-width: 320px;
  }

}


/* ===== CELULAR PEQUENO ===== */

@media (max-width: 480px) {

  .hero {
    height: 600px;
  }

  .hero-content {
    padding: 90px 20px 30px;
  }

  .hero h1 {
    font-size: 2rem;
  }

}