.hero-area {
  position: relative;
  padding-bottom: 160px;
}


.property-search {

  position: absolute;

  left: 0;

  right: 0;

  bottom: -120px;

  z-index: 20;

}


.search-container {

  width: 380px;

  margin-left: auto;

  margin-right: 60px;

}