@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

:root {
  --font-title: "Playfair Display", serif;
  --font-text: "Montserrat", sans-serif;

  --primary: #2563eb;
  --primary-dark: #1e40af;
  --white: #ffffff;
  --dark: #111827;
  --gray: #6b7280;
}

body {
  font-family: var(--font-text);
  background: #fff;
  color: var(--dark);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

p {
  font-family: var(--font-text);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: var(--font-text);
  cursor: pointer;
}